body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:600px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:1px;
  width:1000px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:30px;
  width:996px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:80px;
  width:170px;
  height:520px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:520px;
}
#u5 {
  position:absolute;
  left:2px;
  top:254px;
  width:166px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:210px;
  top:210px;
  width:741px;
  height:215px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:50px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:220px;
  top:0px;
  width:168px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:164px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:388px;
  top:0px;
  width:178px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:174px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:566px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:50px;
  top:30px;
  width:170px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:220px;
  top:30px;
  width:168px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:164px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:388px;
  top:30px;
  width:178px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:174px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:566px;
  top:30px;
  width:170px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:60px;
  width:50px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:50px;
  top:60px;
  width:170px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:220px;
  top:60px;
  width:168px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:164px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:388px;
  top:60px;
  width:178px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:174px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:566px;
  top:60px;
  width:170px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:90px;
  width:50px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:50px;
  top:90px;
  width:170px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:220px;
  top:90px;
  width:168px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:388px;
  top:90px;
  width:178px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:566px;
  top:90px;
  width:170px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:120px;
  width:50px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:50px;
  top:120px;
  width:170px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:220px;
  top:120px;
  width:168px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:388px;
  top:120px;
  width:178px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:566px;
  top:120px;
  width:170px;
  height:30px;
  font-size:16px;
  color:#1E1E1E;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:150px;
  width:50px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:50px;
  top:150px;
  width:170px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:220px;
  top:150px;
  width:168px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:388px;
  top:150px;
  width:178px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:7px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:566px;
  top:150px;
  width:170px;
  height:30px;
  font-size:16px;
  color:#1E1E1E;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:180px;
  width:50px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:50px;
  top:180px;
  width:170px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:220px;
  top:180px;
  width:168px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:7px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:388px;
  top:180px;
  width:178px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:7px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:566px;
  top:180px;
  width:170px;
  height:30px;
  font-size:16px;
  color:#1E1E1E;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:210px;
  top:117px;
  width:41px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:257px;
  top:113px;
  width:200px;
  height:25px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u80 {
  position:absolute;
  left:474px;
  top:117px;
  width:21px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:506px;
  top:113px;
  width:200px;
  height:25px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u83 {
  position:absolute;
  left:743px;
  top:110px;
  width:110px;
  height:30px;
}
#u83_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u84 {
  position:absolute;
  left:193px;
  top:1110px;
  visibility:hidden;
}
#u84_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u84_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:350px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:350px;
}
#u86 {
  position:absolute;
  left:2px;
  top:167px;
  width:579px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:40px;
}
#u88 {
  position:absolute;
  left:2px;
  top:11px;
  width:579px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:59px;
  top:81px;
  width:181px;
  height:59px;
  font-size:18px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:59px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:59px;
  top:159px;
  width:261px;
  height:21px;
  font-size:18px;
}
#u92 {
  position:absolute;
  left:16px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u91_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u93 {
  position:absolute;
  left:59px;
  top:200px;
  width:461px;
  height:22px;
}
#u93_input {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
}
#u93_input:disabled {
  color:grayText;
}
#u94 {
  position:absolute;
  left:270px;
  top:290px;
  width:110px;
  height:30px;
}
#u94_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u95 {
  position:absolute;
  left:410px;
  top:290px;
  width:110px;
  height:30px;
}
#u95_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u96 {
  position:absolute;
  left:40px;
  top:675px;
}
#u96_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u96_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u97 {
  position:absolute;
  left:0px;
  top:1px;
  width:510px;
  height:324px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:324px;
}
#u98 {
  position:absolute;
  left:2px;
  top:154px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:40px;
}
#u100 {
  position:absolute;
  left:2px;
  top:11px;
  width:506px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:142px;
  top:161px;
  width:225px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:19px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:360px;
  top:260px;
  width:100px;
  height:25px;
}
#u103_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u104 {
  position:absolute;
  left:617px;
  top:697px;
  width:206px;
  height:96px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:96px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  white-space:nowrap;
}
